/*-----------------------------------*\
  #style.css
\*-----------------------------------*/

/**
 * copyright 2023 codewithsadee
 */





/*-----------------------------------*\
  #CUSTOM PROPERTY
\*-----------------------------------*/
:root {
  /*
  colors 
   */

   /* Background Colors */
   --bg-dark-purple: hsla(260, 62%, 11%, 1);
--bg-russian-violet: hsla(259, 61%, 14%, 1);
--bg-vivid-violet: hsla(273, 100%, 55%, 1);
--bg-sunglow: hsla(43, 100%, 61%, 1);
--bg-blue-jeans: hsla(202, 100%, 50%, 1);
--bg-white-alpha-10: hsla(0, 0%, 100%, 0.1);

/* Text Color */
--text-white: hsla(0, 0%, 100%, 1);
--text-black: hsla(0, 0%, 0%, 1);
--text-sunglow: hsla(43, 100%, 61%, 1);
--text-white-alpha-60: hsla(0, 0%, 100%, 0.6);

/* Border color */
--border-blue-jeans: hsla(202, 100%, 50%, 1);
--border-white-alpha-10: hsla(0, 0%, 100%, 0.1);

/* Typography */

/* Font size+family */
--fontFamily-open-sans: 'Open Sans', sans-serif;

--fontSize-1: 4rem;
--fontSize-2: 3.2rem;
--fontSize-3: 2.4rem;
--fontSize-4: 2rem;
--fontSize-5: 1.8rem;
--fontSize-6: 1.6rem;
--fontSize-7: 1.4rem;

/* Font weight */
--weight-regular: 400;
--weight-medium: 500;
--weight-semiBold: 600;
--weight-bold: 700;

/* Spacing */
--section-spacing: 100px;

/* Box shadow */
--shadow-1: drop-shadow(0 20px 30px hsla(0, 0%, 0%, 0.1));
--shadow-2: drop-shadow(0 20px 30px hsla(0, 0%, 0%, 0.2));

/* Border radius */
--radius-24: 24px;
--radius-40: 40px;
--radius-pill: 500px;

/* Transition */
--transition-1: 250ms ease;
--transition-2: 500ms ease;
--cubic-out: cubic-bezier(0, 1, 0.5, 1);

}



/*-----------------------------------*\
  #RESET
\*-----------------------------------*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {list-style: none;}

a,
img,
span,
button,
ion-icon {display: block;}

a {
  color: inherit;
text-decoration: none;
}

img {
  height: auto;
}

input,
button{
  background: none;
  border: none;
  font: inherit;
}

input {
  width: 100%;
  outline: none;
}

button { cursor: pointer; }
ion-icon {pointer-events: none;}

address {font-style: normal;}

html {
  font-family: var(--fontFamily-open-sans);
  font-size: 10px;
  scroll-behavior: smooth;
}


body {
  background-color: var(--bg-dark-purple);
  color: var(--text-white-alpha-60);
  font-size: var(--fontSize-6);
  line-height: 1.8;
}




/*-----------------------------------*\
  #REUSED STYLE
\*-----------------------------------*/





/*-----------------------------------*\
  #HEADER
\*-----------------------------------*/





/*-----------------------------------*\
  #HERO
\*-----------------------------------*/





/*-----------------------------------*\
  #PROCESS
\*-----------------------------------*/





/*-----------------------------------*\
  #WORK
\*-----------------------------------*/





/*-----------------------------------*\
  #FOOTER
\*-----------------------------------*/





/*-----------------------------------*\
  #MEDIA QUERIES
\*-----------------------------------*/